<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="connect" value="Data Source=H-HEMMDB;Database = HEMM; Provider=SQLNCLI10; Trusted_Connection=Yes;"/>
    <add key="backup_path" value="\\lapis\h_purchasing$\Purchasing\CDMReport\"/>
    
			<add key="xport_path" value="\\lapis\h_purchasing$\Purchasing\CDMReport\_test\"/>
<!--  <add key="xport_path" value="\\sosa\share\RevenueCycleManagement\CDMMaster\HMCSupply\txt\"/>    -->
    
		<add key="logFile" value="CDMLog.txt"/>
    <add key="logFilePath" value="\\lapis\h_purchasing$\Purchasing\PMM IS data\Reference Logs\HEMMApps\CDMReport\log\"/>
    <add key="email_to_list" value="dlrjones@uwmedicine.org"/><!--romand@uw.edu	: separate items with semicolon -->
    <add key="email_to_first_name" value="Dee"/> <!-- use "" if you don't want the name added to the email -->
    <add key="email_reply_to" value="dlrjones@uw.edu"/>
    	<add key="email_copy_to" value=""/> <!--dlrjones@uwmedicine.org;pmmhelp@uw.edu   use "" for empty CC list :	separate items with semicolon -->

    <add key="out_file_name" value="HMC_CDM_SUPPLY_"/>

		<!-- 
    This app runs on hvm-hemmint-t as a scheduled task.
    -->

		
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
